<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>experienceId</key>
	<string>221887db-16f1-4a3f-9feb-5ecc8aa0a139</string>
	<key>applicationKey</key>
	<string>5bea6355b9cd4e78aee3403346617b1c</string>
</dict>
</plist>
